
  
<form  >
  <div>
    <label style="margin-top:20%" >
      Username
    </label>
    <input class="username" type="text" formControlName="name">
  </div>

  <div>
    <label>
      Password
    </label>
    <input class="pass" type="Password">
    <label>
        Repeat password
      </label>
    <input class="pass" type="Password">
  </div>

  <button class="button fancy-button " type="submit" >Register</button>
  
  <a style="font-size:80%; margin-left:5%;" routerLink="/login">I have account</a>
</form>

