
    <h2 allign='center' style="color:white;">About Us</h2>


    <h2 allign='center'>New Web-Service</h2>

    <p class = "aboutus" allign='center'>KikimoraWatches is online web-app to buy high quality, brand watches.<br>
    Now, you can find products of most popular watch brands at one web-site,<br>
    instead of going to different web-sites.<br>
    Moreover, here you can find links to official sources.</p>
    <p>email: dragskaip@gmail.com          </p>
        <p>phone number: +77085331094</p>
        <p> address: Akorda, residence of the president
            Esil district, Nur-Sultan</p>

    